.tbs__content {
    width: 100%;
    padding-top: 32px;
    background-color: #FFFFFF;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
}

.tbs__content__main {
    width: 49.5%;
    padding: 0 30px
}

.tbs__content__main h2{
    font-weight: 600;
    font-size: 24px;
    margin: 0 !important;
    text-transform: uppercase;
}

.tbs__content__main h2.form_title{
    text-transform: capitalize;
    font-size: 18px;
}

.category--list {
    padding-top: 4px;
    display: flex;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative;
}
.category--list::-webkit-scrollbar {
    display: none;
}

.category--list__item {
    background: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #000000;
    text-align: center;
    margin: 5px !important; 
    padding: 8px 16px;
    line-height: 16.42px;
    cursor: pointer;
    display: block;
    min-width: 120px;
    /* width: 25%; */
}

.category--list__item:first-child {
    margin-left: 0 !important;
}

.category--list__item.active {
    background-color: #000000;
    color: #FFFFFF;
} 

.content-divider {
    border-left: 1px solid #C4C4C4;
    width: 0.2%;
}

.content__image {
    padding-top: 18px; 
    padding-bottom: 12px;
}

.content__image img{
    width: 100%;
}

.content__descriptions h5 {
    font-size: 16px;
    font-weight: 600;
    text-transform: none !important;
    margin: 0 !important;
    line-height: 19px;
    padding-bottom: 6px;
}
.content__descriptions span {
    font-weight: 400;
    font-size: 12px;
    color: #989898;
}

.content__descriptions .total_price {
    font-size: 18px;
    font-weight: 600;
    color: #989898;
}

.content__total__price {
    padding-top: 32px;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
}

.content__the_price {
    padding-top: 42px;
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.content__the__price--list {
    flex-basis: 50%;
    width: 50%;
    padding: 12px 10px;
    cursor: pointer;
    
}

.content__the_price--item {
    background: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #000000;
    text-align: center;
    padding: 12px 16px;
    width: 100%;
}

.content__the_price--item.active {
    background-color: #000000;
    color: #FFFFFF;
}

.content__proceed {
    padding-top: 33px;
    cursor: pointer;
}

.content__proceed button {
    width: 100%;
    color: #FFFFFF !important; 
    background-color: #000000;
    padding: 14px;
    border: 0 !important;
    text-transform: uppercase;
}

.content__proceed button:disabled {
    color: #626262 !important;
    background-color: #F4F4F4;
    opacity: 1 !important;
}

.elipsis_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tbs__content__form {
    padding-top: 18px;
}

.tbs__content__form-group {
    padding: 10px 0;
}

.tbs__content__form-group label{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    display: block;
}

.tbs__content__form-group input, textarea{
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #989898;
    padding: 14px 0;
    display: block;
    max-width: 323px;
}

.tbs__content__form-group  textarea{
    line-height: 18px;
}

.tbs__content__form-group textarea{
    max-width: 529px;
}

.tbs__content__form-group span{
    font-size: 12px;
    color: #989898;
    line-height: 18px;
    display: inline-block;
    padding-top: 14px;
}

.message-counter {
    padding-top: 8px;
    text-align: right;
    line-height: 14px;
    font-size: 12px;
    color: #989898;
}


.products--list {
    position: relative;
    cursor: pointer;
}

.products--list.active {
    position: relative;
    cursor: pointer;
    opacity: 0.6;
    background: #3D7773;
    border-radius: 8px;
}

.product-image.active {
    position: absolute;
    background-image: url("./images/checklist.png");
    background-repeat: no-repeat;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color:  #00AB00;
    border-radius: 50%;
    background-position: center center;
    top: 42%;
    left: 45%; 
}

.owl-carousel.category--list .owl-stage-outer { 
    padding-top: 4px;
    padding-bottom: 7px;
}
.owl-carousel.category--list .owl-stage-outer::-webkit-scrollbar {
    display: none;
}

.owl-carousel.category--list .owl-prev {
    width: 15px;
    height: 37px;
    position: absolute;
    border:0px solid black;
    left: 0;
    top: 18%;
}

.owl-carousel.category--list .owl-next {
    width: 15px;
    height: 37px;
    position: absolute;
    border:0px solid black;
    right: 0;
    top: 18%;
}


.owl-carousel.category--list .nav--carousel-img {
    height: 13px;
    display: block;
    max-width: 7.59px !important;
    position: absolute;
    top: 14px;
    right: 10px;    
}

.owl-carousel.image-list .nav--carousel-img {
    height: 13px;
    display: block;
    max-width: 7.59px !important;
    position: absolute;
    top: 15px;
    right: 11px;
}

.owl-carousel.image-list .owl-prev .nav--carousel-img {
    right: 13px;
}

.owl-prev {
    width: 15px;
    height: 40px;
    position: absolute;
    top: 35%;
    margin-left: 0px;
    /* display: block !important; */
    border:0px solid black;
    background: rgba(255, 255, 255, 0.8);
}

.owl-next {
    width: 15px;
    height: 40px;
    position: absolute;
    top: 35%;
    right: -.50px;
    /* display: block !important; */
    border:0px solid black;
    background: rgba(255, 255, 255, 0.8);
}

button.owl-next:hover, button.owl-prev:hover {
    border: 0 !important; 
    color: inherit !important;
}

.owl-prev i, .owl-next i {transform : scale(1,2); color: #000000;}

.owl-prev i {
    position: relative;    
}

.owl-prev i::before {
    position: absolute;
    top: -9.5px;
    left: -4px;
}

.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   display: none;
}
.owl-carousel .owl-stage-outer {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

div.owl-stage-outer::-webkit-scrollbar{
    height: 5px;
}

div.owl-stage-outer::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

div.owl-stage-outer::-webkit-scrollbar-thumb {
    background-color: #000000 !important;
}

div.owl-stage-outer::-webkit-scrollbar-thumb:hover {
    background-color: #000000 !important;
}

.owl-carousel img { 
    border-radius: 8px;
}

.tbs__content__main--image span {
    display: none;
}

.tbs__content__main--image .content__descriptions span {
    display: block;
}


.tbs__content__main--price {
    margin: 12px;
    margin-top: 24px;
    background-color: #F4F4F4;
}

.tbs__content__main--price-detail {
    padding: 20px 0;
    margin-right: 12px;
    margin-left: 12px;
    border-bottom: 1px solid #E1E1E1;
    /* display: flex;
    justify-content: space-between; */
}

.tbs__content__main--price-detail label{
    font-size: 16px;
    font-weight: 500;
}

.tbs__content__main--price-detail label.bold{
    font-weight: 600;
}

.tbs__content__main--price-detail .price__detail{
    display: flex; 
    justify-content: space-between;
    padding: 5px;
}


.content__main--step3 {
    margin: 12px;
    margin-top: 0;
}

.content__main--step3 .tbs__content__main--image {
    border: 1px solid #989898;
    border-radius: 4px;
    margin-top: 18px;
    padding: 18px 19px;
    display: flex;
    flex-flow: row wrap;
}

.content__main--step3 .tbs__content__main--message .message--group{
    margin-top: 18px;
}
.content__main--step3 .tbs__content__main--message .message--group label{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.content__main--step3 .tbs__content__main--image .line {
    border-top: 1px solid #989898;
    margin: 18px 0 0;
}

.content__main--step3 .tbs__content__main--image span{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
    color: #989898;
}

.content__main--step3 .tbs__content__main--image .content__image {
    padding: 0;
    width: 25%;
    flex-basis: 25%;
}

.content__main--step3 .tbs__content__main--image .content__descriptions {
    flex-basis: 75%;
    width: 75%;
    padding-left: 16px;
}

.content__main--step3 .tbs__content__main--image .content__descriptions h5 {
    font-weight: 500;
    font-size: 14;
    line-height: 17px;
}

.content__main--step3 .tbs__content__main--image .content__descriptions .total_price {
    margin-top: 19px;
    font-weight: 600;
    font-size: 14;
    line-height: 17px;
}

/* .content__main--step3 .tbs__content__main--image .content__image img{
    width: 25%;
    flex-basis: 25%;
} */

.tbs__content__main--image .content__image {
    padding-top: 0;
}

@media only screen and (max-width: 1000px) {

    .category--list__item {
        min-width: 120px;
        padding: 8px 0px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
}

  @media only screen and (max-width: 767px) {
    /* .product-image.active {
        top: 42%;
        left: 45%; 
    } */

    .content__the_price--item {
        padding: 8px 16px;
        font-size: 12px;
    }

    .content__total__price {
        border-top: 1px solid #DEDEDE;
    }

    .content__main--step3 {
        margin: 0;
    }

    .content__main--step3 .elipsis_text{
        padding-bottom: 0;
        padding-left: 16px;
    }

    .category--list {
        padding-left: 5px;
    }
    .owl-next, .owl-prev {
        top: 23%;
    }

    .owl-carousel .owl-stage-outer {
        padding: 0 0 20px;
    }
    .tbs__content {
        flex-direction: column;
        padding: 0;
    }
    
    .tbs__content__main {
        width: 100%;
        padding: 0;
    }
    .tbs__content__main.right {
        background-color: #EFEFEF;
        padding: 32px 16px;
    }

    .tbs__content__main--image {
        border: 1px solid #989898;
        border-radius: 4px;
        margin: 16px;
        display: flex;
        flex-flow: row wrap;
    }

    .tbs__content__main--form {
        margin: 2px 16px;
    }

    .tbs__content__main--form .elipsis_text.form_title {
        padding-left: 0;
    }

    .tbs__content__main--form .tbs__content__form {
        padding-left: 0;
    }

    .tbs__content__main--image .content__image {
        flex-basis: 40%;
        width: 40%;
        padding-left: 9px;
        padding-right: 9px !important;
        padding-top: 16px;
    }

    .tbs__content__main--image .content__descriptions {
        flex-basis: 60%;
        width: 60%;
        padding-left: 0;
        padding-top: 16px;
    }

    .tbs__content__main--image .content__descriptions h5 {
        font-weight: 500;
        font-size: 14;
        line-height: 17px;
    }

    .tbs__content__main--image .content__descriptions .total_price {
        font-size: 12;
    }

    .tbs__content__main--image .content__descriptions span {
        display: none;
    }

    .tbs__content__main--image span {
        display: block;
        font-weight: 400;
        font-size: 12px;
        color: #989898;
        padding-left: 9px;
    }

    /* .tbs__content__main--image .content__image img{
        width: 78px !important;
        height: 52px !important;
    } */

    .tbs__content__wrapper {
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }

    .tbs__content__main h2{
        font-size: 18px;
        padding: 0 10px;
        /* padding-bottom: ; */
        /* border-bottom: 1px solid #DEDEDE; */
    }

    .tbs__content__main .content__main--step3 h2, .tbs__content__main.left h2, .tbs__content__main.right .tbs__content__wrapper h2 {
        padding-top: 18px !important;   
    }

    .tbs__content__main.right .tbs__content__wrapper h2 {
        padding-bottom: 18px !important;   
    }

    .content-divider {
        display: none;
    }
    .content__image, .content__descriptions, .owl-carousel, .content__total__price, .content__the_price, .tbs__content__form {
        padding: 8px 10px;
    }

    .content__total__price {
        padding-top: 18px;
    }

    .owl-carousel {
        padding-right: 0;
    }

    /* .category--list {
        padding-left: 20px;
    }

    .category--list__item {
        min-width: 120px;
        padding: 8px 0px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    } */

    .tbs__content__main h2.form_title{
        padding-bottom: 0 !important;
        text-transform: uppercase;
        border: none;
    }

    .tbs__content__form-group label{
        line-height: 17px;
        font-weight: 400;
        font-size: 14px;
    }

    .label-semi-bold {
        line-height: 19px !important;
        font-weight: 500 !important;
    }

    .content__main--step3 .tbs__content__main--image .content__image {
        flex-basis: 35%;
    }

    .content__main--step3 .tbs__content__main--image .content__descriptions {
        flex-basis: 65%;
        padding-left: 0;
        padding-top: 0;
    }

    /* .content__main--step3 .tbs__content__main--image {
        margin-top: 0;
    } */

    .content__main--step3 .tbs__content__main--image .content__descriptions .total_price {
        margin-top: 6px;
    }

    .content__main--step3 .tbs__content__main--image span {
        margin-top: 8px;
        padding-left: 0;
    }
}